.mobile-menu {
    position: absolute;
    
    width: 0;
    margin: 0;
    padding: 0;
    visibility: collapse;
}

/* Планшет (≥768px) */
@media (max-width: 768px) {
    .mobile-menu {
        visibility: visible;
        right: 6px;
        top: 6px;
        width: 42px;
        height: 42px;
    }

}